# Core functionality - changes here should be rare!
/src/app.py                   @zoltanfGH
/src/backend/database.py      @zoltanfGH
/src/backend/routers/auth.py  @zoltanfGH

# The frontend will need refactored soon to be more object oriented.
/src/static/   @zoltanfGH
